.link-landing {
  text-decoration: none;
}

.container-landing {
  background-color: #302c42;
  padding: 20px 22px 20px 26px;
}

.landing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
